.row
  .span5
    - if current_user.accounts.count > 0
      %h3 Current Accounts
      %table.table
        %tbody
          = render :partial => "account", :collection => current_user.accounts
          %tr
            %td{:colspan => '3'}
              = render :partial => "add_account"
    - else
      = render :partial => "add_account"
  .span5
    %h3 Activity
    %table.table
      %thead
        %tr
          %th Date
          %th Name
          %th Amount
          %th Action
      %tbody
        %tr
          %td 2/23
          %td Rent
          %td ($1,600)
          %td
            %a.btn Accept

    = render :partial => "add_activity"

